@font-face {
    font-family: longhandregular;
    src: url(fonts/longhand-webfont.woff2);
}
@font-face {
    font-family: sinkin_sans200_x_light;
    src: url(fonts/sinkinsans-200xlight-webfont.woff2);
}

.section-content {
    position: relative;
    z-index: 2;
    width: 960px;
    margin: 0 auto;
    overflow: hidden;
    padding: 48px 0;
}

.section-fullwidth {
    padding-left: 0 !important;
    padding-right: 0 !important;
    width: 100% !important;
}

.section-content .section-title.longhand {
    font-size: 90px;
    font-family: "longhandregular";
    font-weight: normal;
    margin: 0;
}

.section-content .section-title {
    transition: all 0.3s ease 0s;
    text-align: center;
    display: block;
    margin: 0 0 10px 0;
}

.font-color-dark-grey, .font-color-dark-grey h1 {
    color: #475660 !important;
}

.hand-drawn-image-title {
    text-align: center;
}

.large-text {
    font-size: 18px !important;
}

.hand-drawn-image-title-item {
    display: inline-table;
    padding: 0 30px;
    font-size: 15px;
    transition: all .3s ease 0s;
}

.section-content .section-description, .section-content .section-description p {
    margin: 0 0 10px 0;
    text-align: center;
}
.font-sinkin_sans200_x_light {
    font-family: 'sinkin_sans200_x_light' !important;
}
.btn-centered {
    margin: 10px auto;
    display: block;
    max-width: 100%;
    text-align: center;
}

.margin-top-50 {
    margin-top: 50px !important;
}

.btn-solid {
    color: #fff;
    background-color: #3a75ca;
}

.btn {
    font-size: 14px;
    line-height: 1;
    position: relative;
    display: inline-block;
    margin: 5px 10px;
    padding: 12px 25px;
    -moz-user-select: none;
    text-align: center;
    vertical-align: middle;
    white-space: normal;
    text-transform: uppercase;
    border: none;
    border-radius: 10px;
    transition: background-color .3s ease 0s;
    overflow: hidden;
    text-decoration: none;
}

a,
a:visited,
a:focus,
a:active,
a:hover {
  text-decoration: none;
  outline: none;
  color: #428bca;
}
a {
  font-weight: normal;
  color: #20a8d8;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  cursor: pointer;
  word-wrap: break-word;
}

.tier3{
    background-image: url('https://www.bankatfirst.com/content/dam/first-financial-bank/heros/retirement-couple-hero.jpg')
}
.section-wrapper {
    position: relative;
    overflow: hidden;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
}


.section-content {
    position: relative;
    z-index: 2;
    width: 960px;
    margin: 0 auto;
    overflow: hidden;
    padding: 48px 0;
}

.padding-right-50 {
    padding-right: 50px !important;
}
.padding-left-50 {
    padding-left: 50px !important;
}
.padding-bottom-50 {
    padding-bottom: 50px !important;
}
.padding-top-50 {
    padding-top: 50px !important;
}
.rounded-corners-10 {
    border-radius: 10px;
}
.backgroundColor-black-opaque {
    background-color: #000 !important;
    background-color: rgba(0, 0, 0, 0.5) !important;
}
.section-content .section-title {
    transition: all 0.3s ease 0s;
    text-align: center;
    display: block;
    margin: 0 0 10px 0;
}
.medium-heading {
    font-size: 45px !important;
}
.font-color-white, .font-color-white h1 {
    color: #fff !important;
}
.font-sinkin_sans400_regular {
    font-family: 'sinkin_sans400_regular' !important;
}

.section-content .section-description, .section-content .section-description p {
    margin: 0 0 10px 0;
    text-align: center;
}
.font-sinkin_sans200_x_light {
    font-family: 'sinkin_sans200_x_light' !important;
}

.section-content .section-description, .section-content .section-description p {
    margin: 0 0 10px 0;
    text-align: center;
}

.card-body{
    padding: 0 !important;
}
